﻿.body {
  margin-top: 0;
  padding: 0;
  background-color:#343436;
  color:#fff;
  .navbar-nav{
    float:right;
  }
  .choose-items{
    padding-top:12px;
    padding-bottom:12px;
    margin-right:5px;
  }
  .input-field{
        border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    color:grey;
  }
}
@import "field-style";
@import "tools-panel";
@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
