﻿.main {
  .field {
    height: 100vh;

    .img-editor {
      margin-top: 50px;
      text-align: center;
      padding: 20px;
      z-index: 100;
      display: inline-block;
      width: 100%;
      height: 100%;

      #img-box {
        margin: 0 auto;
        background-repeat: no-repeat;
      }

      .title-product{
        cursor:move;
        margin: 10% 3% 5% 3%;
      }
      .barcode{
        padding:5%;
        cursor:move;
      }
      .price{
        @extend .barcode;
      }

      .draggable {
        width: 300px;
        height: 200px;
        background-color: rgba(164, 166, 166, 0.33);
        border: 3px solid rgb(255, 255, 255);
      }

      .rectangle {
        @extend .draggable;
      }

      .tsilіndr {
        @extend .draggable;
        background-color: rgba(30, 144, 255, 0.35);
        border-radius: 100%/20%;
      }

      .drop {
        @extend .draggable;
        background-color: rgba(48, 181, 114, 0.5);
        border-radius: 100% 100% 0%;
      }

      .rock {
        @extend .draggable;
        background-color: rgba(251, 147, 255, 0.35);
        border-radius: 0% 30% 0%;
      }
     
      .control {
        position: absolute;
        height: 20px;
        width: 20px;
        background-size: cover;
        cursor:pointer;
      }

      .show-freetrans {
        @extend .control;
        right: 15px;
        top: 15px;
        background-image: url('../img/show_skale.png');
      }

      .close-freetrans {
        @extend .control;
        background-image: url('../img/close.png');
        left: -20px;
        top: -20px;
      }

      .delete-elem {
        @extend .control;
        background-image: url('../img/trash.png');
        right: -15px;
        top: 50%;
      }

      .hide-elem {
        display: none;
      }
    }
  }
}
