﻿.main {
  height: 100vh;

  .tools-panel {
    text-align: center;
    margin-top: 52px;

    .tool-box{
      height:100vh;
      background-color:#6f6f6f;
    }

    .title-for-group {
      width: 100%;
      padding: 5px;
      background-color: #1d1f20;
      margin-top: 15px;
      border-radius: 4px;
      border: 2px solid rgba(255,255,255,0.36);
    }

    .title-product {
      margin: 3% 1% 2% 1%;
      font-size:initial;
    }

    .barcode {
      padding: 2%;
    }

    .price {
      @extend .barcode;
    }

    .prev-img {
      width: 100%;
      height: 150px;
      opacity: 0.7;
      margin-top: 10px;
      border: 2px solid #fff;
      overflow: hidden;
      padding:8%;
      font-size:small;

      &:hover {
        opacity: 1;
      }
    }

    .rectangle {
      @extend .title-product;
      @extend .prev-img;
      background-color: gainsboro;
    }

    .tsilіndr {
      @extend .prev-img;
        background-color: rgba(30, 144, 255, 0.7);
      border-radius: 100%/20%;
    }

    .drop {
      @extend .prev-img;
        background-color: rgba(48, 181, 114, 0.7);
      border-radius: 100% 100% 0%;
    }

    .rock {
      @extend .prev-img;
        background-color: rgba(251, 147, 255, 0.7);
      border-radius: 0% 30% 0%;
    }

    .save-button {
      margin-top: 20px;
      width: 90%;
      height: 40px;
      background-color: rgba(255,255,255,0.36);
      padding: 3%;
      border-radius: 10px;

      &:hover {
        background-color: rgba(255,255,255,0.7);
        border: 1px solid #fff;
      }
    }
  }
}
