﻿@charset "UTF-8";
.body {
  margin-top: 0;
  padding: 0;
  background-color: #343436;
  color: #fff; }
  .body .navbar-nav {
    float: right; }
  .body .choose-items {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 5px; }
  .body .input-field {
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    color: grey; }

.main .field {
  height: 100vh; }
  .main .field .img-editor {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    z-index: 100;
    display: inline-block;
    width: 100%;
    height: 100%; }
    .main .field .img-editor #img-box {
      margin: 0 auto;
      background-repeat: no-repeat; }
    .main .field .img-editor .title-product, .main .field .img-editor .tools-panel .rectangle, .main .tools-panel .field .img-editor .rectangle {
      cursor: move;
      margin: 10% 3% 5% 3%; }
    .main .field .img-editor .barcode, .main .field .img-editor .price {
      padding: 5%;
      cursor: move; }
    .main .field .img-editor .draggable, .main .field .img-editor .rectangle, .main .field .img-editor .tsilіndr, .main .field .img-editor .drop, .main .field .img-editor .rock {
      width: 300px;
      height: 200px;
      background-color: rgba(164, 166, 166, 0.33);
      border: 3px solid white; }
    .main .field .img-editor .tsilіndr {
      background-color: rgba(30, 144, 255, 0.35);
      border-radius: 100%/20%; }
    .main .field .img-editor .drop {
      background-color: rgba(48, 181, 114, 0.5);
      border-radius: 100% 100% 0%; }
    .main .field .img-editor .rock {
      background-color: rgba(251, 147, 255, 0.35);
      border-radius: 0% 30% 0%; }
    .main .field .img-editor .control, .main .field .img-editor .show-freetrans, .main .field .img-editor .close-freetrans, .main .field .img-editor .delete-elem {
      position: absolute;
      height: 20px;
      width: 20px;
      background-size: cover;
      cursor: pointer; }
    .main .field .img-editor .show-freetrans {
      right: 15px;
      top: 15px;
      background-image: url("../img/show_skale.png"); }
    .main .field .img-editor .close-freetrans {
      background-image: url("../img/close.png");
      left: -20px;
      top: -20px; }
    .main .field .img-editor .delete-elem {
      background-image: url("../img/trash.png");
      right: -15px;
      top: 50%; }
    .main .field .img-editor .hide-elem {
      display: none; }

.main {
  height: 100vh; }
  .main .tools-panel {
    text-align: center;
    margin-top: 52px; }
    .main .tools-panel .tool-box {
      height: 100vh;
      background-color: #6f6f6f; }
    .main .tools-panel .title-for-group {
      width: 100%;
      padding: 5px;
      background-color: #1d1f20;
      margin-top: 15px;
      border-radius: 4px;
      border: 2px solid rgba(255, 255, 255, 0.36); }
    .main .tools-panel .title-product, .main .tools-panel .rectangle {
      margin: 3% 1% 2% 1%;
      font-size: initial; }
    .main .tools-panel .barcode, .main .tools-panel .field .img-editor .price, .main .field .img-editor .tools-panel .price, .main .tools-panel .price {
      padding: 2%; }
    .main .tools-panel .prev-img, .main .tools-panel .rectangle, .main .tools-panel .tsilіndr, .main .tools-panel .drop, .main .tools-panel .rock {
      width: 100%;
      height: 150px;
      opacity: 0.7;
      margin-top: 10px;
      border: 2px solid #fff;
      overflow: hidden;
      padding: 8%;
      font-size: small; }
      .main .tools-panel .prev-img:hover, .main .tools-panel .rectangle:hover, .main .tools-panel .tsilіndr:hover, .main .tools-panel .drop:hover, .main .tools-panel .rock:hover {
        opacity: 1; }
    .main .tools-panel .rectangle {
      background-color: gainsboro; }
    .main .tools-panel .tsilіndr {
      background-color: rgba(30, 144, 255, 0.7);
      border-radius: 100%/20%; }
    .main .tools-panel .drop {
      background-color: rgba(48, 181, 114, 0.7);
      border-radius: 100% 100% 0%; }
    .main .tools-panel .rock {
      background-color: rgba(251, 147, 255, 0.7);
      border-radius: 0% 30% 0%; }
    .main .tools-panel .save-button {
      margin-top: 20px;
      width: 90%;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.36);
      padding: 3%;
      border-radius: 10px; }
      .main .tools-panel .save-button:hover {
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #fff; }

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"); }

